<div class="instalaciones">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!--<img class="img-responsive" style="height: " src="images/map.png" />-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27654.47607525185!2d-3.6805107835497535!3d40.418537863744326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225a69db56d45%3A0x354b7535164dbaf!2sPolideportivo+Campus+Sur+%3A+UPM!5e1!3m2!1ses!2ses!4v1543090811398" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <div class="caja">
          <p>Disponemos de:</p>
          <ul>
            <li>4 pistas de cristal cubiertas</li>
            <li>3 pistas de cristal semicubiertas</li>
            <li>3 pistas de cemento cubiertas</li>
            <li>2 pistas de tenis</li>
            <li>Vestuarios completos</li>
            <li>Cafeteria con terraza</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
