<div class="servicios">

  <div class="container">

    <div class="row big-icons">

      <div class="col-md-4">
        <span class="glyphicon glyphicon-list-alt"></span>
        <H1>ACTIVIDADES</H1>
        <p> Uno de los objetivos principales de la sección de pádel en la UPM es fomentar la práctica de este deporte tanto entre los alumnos de la escuela como entre todos los usuarios de las instalaciones. Para ello, se han programado una serie de eventos a lo largo del año como el ránking, los campeonatos específicos, los cursos de formación o el sistema automático para la organización de partidos, con los que aprenderás y disfrutarás mucho más de este deporte.</p>
      </div>


      <div class="col-md-4">
        <span class="glyphicon glyphicon-indent-left"></span>
        <H1>CLASIFICACIÓN</H1>
        <p>Cada vez más cerca del inicio de la nueva campaña, ha llegado el momento de hacer un repaso de la situación del Ranking WPT de cara a un año que se presenta apasionante. A buen seguro, cuando comience la actividad la clasificación parece que cambiará bastante ya que los jóvenes están apretando con fuerza abriendose camino y también se han formado nuevas duplas muy potentes que podrian convertirse en los nuevos numeros uno.</p>
      </div>

      <div class="col-md-4">
        <span  class="glyphicon glyphicon-globe"></span>
        <H1>NOTICIAS</H1>
        <p>Noticias de Actualidad sobre el Mundo del Padel. Información del circuito profesional, Jugadores de Pádel e Información de última hora.
          Todos los enlaces que tienen relacion con la UPM y el padel, puedes consultar también la relacion de campeonatos con otras universidades tanto españolas como internacionales. Mantente informado en todo momento porque este año puede haber muchas sorpresas y será muy emocionante seguir todos los torneos que te apetezca.</p>
      </div>

    </div>
    <div class="row big-icons">



      <div class="col-md-4">
        <span class="glyphicon glyphicon-info-sign"></span>
        <H1>INFORMACIÓN</H1>
        <p>El pádel (del inglés paddle) es un deporte de raqueta de origen mexicano. Se juega en parejas y consta de tres materiales fundamentales para su desarrollo: la pelota, la pala y el campo de juego o pista. Posee reglas bien definidas y está representado por diferentes federaciones y asociaciones. Tiene una gran popularidad en México, Argentina, Brasil, Canadá, Estados Unidos, Paraguay, Uruguay, Chile, Reino Unido, Alemania, Portugal, España y Emiratos Árabes. El World Padel Tour (WPT) es el circuito mundial más importante, junto con los campeonatos mundiales.</p>
      </div>

      <div class="col-md-4">
        <span  class="glyphicon glyphicon-cutlery"></span>
        <H1>CAFETERÍA</H1>
        <p>Con un horario de 8:00 a 20:00 horas, la cafetería ofrece un variado surtido de bollería, bocadillos y bebidas.
          Tiene un autoservicio de comidas que presta servicio desde las 13:00 hasta las 16:00 horas, ofreciendo menús variados compuestos por cuatro o cinco primeros y cuatro o cinco segundos platos a elegir, bebidas y postres.
          Los locales de los que está dotada permiten que, simultáneamente, coman unas 250 personas.
          Recientemente la cafetería ha puesto en marcha un servicio de BONO-MENÚ, que ofrece interesantes descuentos.</p>
      </div>

      <div class="col-md-4">

        <span  class="glyphicon glyphicon-road"></span>
        <H1>PARKING</H1>
        <p>Para poder utilizar el aparcamiento de la ETSIT-UPM es necesario estar dado de alta en la base de datos del sistema. Para poder dar de alta la matrícula de su coche, o modificar algún dato si ya estaba registrado, acceda a la siguiente dirección: Dar de alta / modificar matrículas de coches.
          Para que el sistema lea la matrícula correctamente y se abra la barrera (siempre que la matrícula esté dada de alta en la base de datos), es necesario situar el coche correctamente en la posición de entrada.</p>


      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
